# .env



# App
APP_NAME=Islamic Bank API
DEBUG=false

# MongoDB Atlas or local
MONGODB_URL=mongodb+srv://<user_name>:<password>@a_string_used.mongodb.net/?retryWrites=true&w=majority
BASICAUTH_USERNAME=adminuser
BASICAUTH_PASSWORD=adminpass
MONGODB_DB_NAME=islamic-bank

# JWT
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Kafka
KAFKA_BOOTSTRAP_SERVERS=broker:9092
KAFKA_ACCOUNT_TOPIC=account-events
KAFKA_TRANSACTION_TOPIC=transaction-events
KAFKA_PROFIT_TOPIC=profit-events

# Redis
REDIS_URL=redis://redis:6379/0

# Celery (uses Redis as broker)
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

# Mongo Express (UI)
BASICAUTH_USERNAME=admin
BASICAUTH_PASSWORD=admin123
